body{
   background-color: rgb(200, 247, 255);
   background-repeat: repeat;
}
h1{
  
    background-color: rgb(164, 244, 255) 
}
h2{
    
   background-color: rgb(139, 222, 243);
}
h3{
    
   background-color: rgb(200, 203, 233);

}
h4{
    background-color: darksalmon;
}
body{
    background-color: rgb(180, 224, 222);
}